:root {
    --slate:#434455;
    --white:#ffffff;
    --navy-blue: #2E2F42;
    --iris:#4D5AE5;
    --cloud:#F4F4FD;
    --ocean:#404BBF;
    --green:#31D0AA;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --grey:#2E2F42;
    --navy-blue-modal:#2E2F42;
    --dairy:#FCFCFC;
    
}
body{
    font-family:"Roboto",sans-serif;
    color:var(--slate);
    background-color:var(--white);
}
/* header-nav */
.header{
    background-color: var(--white);
}
ul{
    list-style: none;
}

.logo-web{
        color: var(--iris, #4D5AE5);
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    
}
.logo-studio{
    color: var(--navyblue, #2E2F42);
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.site-nav .link-nav{
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px
}
.link-nav :hover, .link-nav :focus{
    color: var(--iris);
}
.link-nav :active{
    color: var(--iris);
    text-decoration: underline;
}
.contacts .contact-link{
    color: var(--slate, #434455);
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}
/* НЕ ПОЛУЧИЛОСЬ!!! */
.contacts .contact-link :active{
    color: var(--iris);
}
/* Hero section */
.hero-section{
    background: var(--navyblue, #2E2F42);
}
.hero-title{
        color: var(--white, #FFF);
        text-align: center;
        font-size: 56px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
}
.hero-section .link-button{
        border-radius: 4px;
        background: var(--iris, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        cursor:pointer;
}